{% include 'index.html' %}
{% include 'navbar2.html' %}
{% load static %}


    <table>
    <form action="{% url 'applicant-loggedin' %}" method="post">
        {% csrf_token %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'images/bg-01.jpg' %});">
					<span class="login100-form-title-1">
						Applicant Login Page
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
                    </form>
                <br>

                    <form action="{% url 'registration-form' %}" method="post">
                        {% csrf_token %}
                    <div class="container-login100-form-btn" style="position:relative; left:500px; bottom:75px">
                        <span class="label-input100"><h6>NewUser?</h6></span>
						<button class="login100-form-btn">
							Register
						</button>
					</div>
                    </form>
            </div>
            </div>
            </div>
            </form>
			</div>
		</div>
	</div>
</table>
